---
import { Counter } from "@components/pokemons/shared/Counter";
import Title from "@components/pokemons/shared/Title.astro";
import MainLayout from "@layouts/MainLayout.astro";
const counterValue = 20;
---

<MainLayout title="Islas">
  <div
    style={{
      height: "1200px",
      backgroundColor: "red",
      opacity: "0.4",
    }}
  >
  </div>
  <Counter
    transition:persist="counter"
    transition:persist-props
    client:visible
    initialValue={counterValue}
  >
    <Title>Islas - Counter</Title>
  </Counter>
  <!-- <Counter client:only="solid-js" /> -->
</MainLayout>
